*{
    box-sizing: border-box;
}

.container-header{
    text-align: center;
    padding: 0px;
}

.js-start-display {
    filter: brightness(100%);
    margin-bottom: 45px;
    padding-top: 15px;
}

header {
    padding: 10px;
    border-radius: 10px;
    color: white;
}

h1{
    font-size: 70px;
    margin-top: 30px;
    text-shadow: 3px 3px black;
}

.header-p{
    font-size: 17.5px;
    text-shadow: 2px 2px black;
}

.learn-more-button{
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333333;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    font-size: 18px;
    margin-top: -20px;
    color: white;
}