*{
    box-sizing: border-box;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.header{
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.sub-header{
    text-align: center;
    font-size: 20px;
}