*{
    box-sizing: border-box;
}

.container-header{
    text-align: center;
    padding: 120px;
}

.js-start-display {
    filter: brightness(100%);
    margin-bottom: 400px;
}

header {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.7);
    width: 55%;
    border-radius: 10px;


}

h1{
    font-size: 100px;
    color: white;

}

.header-p{
    font-size: 30px;
    text-shadow: 2px 2px white;
    font-family: 'Amatic SC';
    padding-bottom: 10px;
    color: black;
}

.learn-more-button{
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333333;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    font-size: 18px;
    margin-top: -20px;
    color: white;
}

.logo-h1{
    font-size: 80px;
    color: black;
    font-family: 'Amatic SC';
}
