* {
  box-sizing: border-box;
}

.recipes-form{

  padding: 30px;
}

.recipes-form input {
height: 45px;
width: 250px;
padding: 12px;
font-size: 18px;

}

.recipes-form button {
  height: 40px;
  width: 100px;
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 0 5px black;
  font-size: 21px;
}

.dashboard-display{
    padding-top: 40px;
    text-align: center;
}


/*******/


.card:not(:hover) {
  opacity: 0.8;
  transition: opacity 0.5s ease-in;
}

.card:hover {
  opacity: 1.0;
  transition: opacity 0.5s ease-in;
}

#js-results {
  padding-bottom: 1rem;
}

.card-txt, .card-txt-lines {
  display: flex;
  font-family: 'Times New Roman';
}

.card-title {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.save-button{
  border: none;
  font-weight: bold;
}

.search-logo{
  color: black;
}

.submit-button{
  font-family: 'Amatic SC';
  margin-bottom: 25px;
  font-size: 25px;
  background-color: #333333;
  width: 130px;
  padding: 5px;
  box-shadow: 0 0 5px black;
  color: tan;
  border-radius: 5px;
}