* {
    box-sizing: border-box;
  }

.recipes-form{
 
    padding: 30px;
}

.recipes-form input {
  height: 45px;
  width: 250px;
  padding: 12px;
  font-size: 18px;

}

.recipes-form button {
    height: 40px;
    width: 100px;
    border: 0px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px black;
    font-size: 21px;
  }

  .dashboard-display{
      padding-top: 40px;
      text-align: center;
  }


  html body {
    background: #f2f2f2;
  }

  h1.logo {
  
    font-family: 'Homenaje';
  }
